{% extends "base.html" %}

{% block content %}

    <div class="container">
    <span>
        <br>
        <br>
    </span>
        <h1 style="padding-right: 0%; padding-left: 25%">Welcome to DDO Online Banker</h1>
        <div class="row justify-content-md-center">

            <div class="col-sm-8">
                <img src="/static/images/Molgra.png">
            </div>

            <div class="col-lg-4 justify-content-center"
                 style="margin-top: 25%; margin-bottom: 50%">
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                {{ context }}
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}


                <div class="text box box-flex">
                    <p>This is project that I decided to make in order to manage my items better.</p>

                    <p>So far, it has only few functionalities, but I will make it more usefull and prettier by the time.</p>
                    <p><b>What can be expected?</b></p>
                    <p>More filters to filter your items. <br>Items will have properties as in game to filter by</p>
                    <p><b>How does it work?</b></p>
                    <p>1. You need to create a character(s) in top menu. Shared bank is default.</p>
                    <p>2. You need to add items to that character</p>
                    <p>3. Manage it! Keep track of your items. App will - hopefully - be useful to you.</p>

                    <p><i>Please, keep in mind, that this app is still in development. Do you have suggestion how to make it better? <a>Write it here!</a></i></p>

                    <p>So try it and <a href="/register/" style="font-size: 20px">REGISTER HERE!</a></p>

                </div>
                <form class="form-control" method="post">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>

                    <input type="submit" value="login">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>

                {# Assumes you set up the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
            </div>
        </div>
    </div>
{% endblock %}